# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.zip

# IDE Specific Files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/
out/

# OS Junk
.DS_Store
Thumbs.db